<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720783347904-b5gqbpuogv19ckna4sj8avhjcfie709s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720783347904-b5gqbpuogv19ckna4sj8avhjcfie709s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>720783347904-o4qnu6os0cp17cmq4386oev33uhl168r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOAwpwlQakgbL254XDZUfVOZGedwLJo_o</string>
	<key>GCM_SENDER_ID</key>
	<string>720783347904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.canteen</string>
	<key>PROJECT_ID</key>
	<string>canteen-bcbf5</string>
	<key>STORAGE_BUCKET</key>
	<string>canteen-bcbf5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720783347904:ios:ab0137caa8162aee855d25</string>
</dict>
</plist>